<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Ventas Stock Manager{% endblock %}</title>
    <!-- Agregar aquí tus enlaces a estilos CSS, scripts, etc. -->
</head>
<body>
    <header>
        <h1>{% block header %}Mi Sitio Web{% endblock %}</h1>
        <!-- Agregar aquí elementos de encabezado comunes a todas las páginas -->
    </header>

    <nav>
        <!-- Agregar aquí tu barra de navegación si es común a todas las páginas -->
    </nav>

    <main>
        {% block content %}{% endblock %}
        <!-- El bloque content será completado por las plantillas hijas -->
    </main>

    <footer>
        <!-- Agregar aquí elementos de pie de página comunes a todas las páginas -->
    </footer>
