[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
ipdb = "*"
django-material-admin = "*"
gunicorn = "*"
dj-database-url = "*"
psycopg2 = "*"
whitenoise = "*"
decouple = "*"
model-mommy = "*"
model-bakery = "*"
factory-boy = "*"
faker = "*"
django-debug-toolbar = "*"

[dev-packages]

[requires]
python_version = "3.11"
