{% extends '_base.html' %}
{% block title %}
Ganancia por Articulo    
{% endblock title%}

{% block content %}
<div class="module">
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">Artículo</th>
                <th scope="col">Ganancia</th>
            </tr>
        </thead>
        <tbody>
            {% for articulo, ganancia in ganancia_por_articulo.items %}
                <tr>
                    <td>{{ articulo }}</td>
                    <td>{{ ganancia }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
